extends layout

block head
  h2 Gurl, show me "#{title}"

block content

  h2 Urban Dictionary
  p Tags: #{urban.tags}
  table(border="black")
    tr
      th(width="10%") Author
      th(width="10%") Thumbs Up/Down
      th(width="40%") Definition
      th(width="40%") Example
    each entry in urban.list
      tr
        td= entry.author
        td #{entry.thumbs_up} / #{entry.thumbs_down}
        td= entry.definition
        td= entry.example

  h2 Tumblr
  table
    tr
      th(width="10%") Type
      th(width="10%") Tags
      th(width="80%") Content
    each post in tumblr
      tr
        td= post.type
        td
          ul
          each tag in post.tags
            li= tag

        if post.type == "photo"
          td
            each photo in post.photos
              img(src=photo.alt_sizes[photo.alt_sizes.length-3].url)
        else if post.type == "text"
          td 
            if post.title
              h3= post.title
            p= post.body

  h2 JSON Objects
  
  h3 Wikipedia
  pre= wikipedia

  h3 Urban Dictionary
  pre= JSON.stringify(urban, null, 2)

  h3 Tumblr
  pre= JSON.stringify(tumblr, null, 2)

 